**/.vscode

**/.vs

**/RayTraci.A506952C

**/x64

# build / binary
cudart
*.o
*.out

# render outputs
*.ppm

# profiling
*.nsys-rep
*.sqlite

# cmake / build
build/
CMakeFiles/
CMakeCache.txt

# editor
.vscode/
